<div class="mdl-grid {{showMe logs}}">
    {{#each logs}}
    <table class="mdl-data-table mdl-js-data-table mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-shadow--2dp">
        <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Søker</th>
            <th class="mdl-data-table__cell--non-numeric">Skole</th>
            <th class="mdl-data-table__cell--non-numeric">Status</th>
            <th class="mdl-data-table__cell--non-numeric">Dato</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">{{name}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{school}} {{klasse}} {{studieretning}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{status}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{formatDate submitted}}</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric" colspan="3">
                <table>
                    <tr>
                        <td>SøkerID</td>
                        <td class="mdl-data-table__cell--non-numeric">{{applicantId}}</td>
                    </tr>
                    <tr>
                        <td>logID</td>
                        <td class="mdl-data-table__cell--non-numeric">{{logId}}</td>
                    </tr>
                    <tr>
                        <td>Bosted</td>
                        <td class="mdl-data-table__cell--non-numeric">{{bosted}}</td>
                    </tr>
                    <tr>
                        <td>Født</td>
                        <td class="mdl-data-table__cell--non-numeric">{{fodt}}</td>
                    </tr>
                    <tr>
                        <td>Telefon</td>
                        <td class="mdl-data-table__cell--non-numeric">{{phone}}</td>
                    </tr>
                    <tr>
                        <td>E-post</td>
                        <td class="mdl-data-table__cell--non-numeric">{{email}}</td>
                    </tr>
                    <tr>
                        <td>Busskort</td>
                        <td class="mdl-data-table__cell--non-numeric">{{busskort}}</td>
                    </tr>
                    <tr>
                        <td>Adresse</td>
                        <td class="mdl-data-table__cell--non-numeric">{{street}}, {{zip}} {{city}}</td>
                    </tr>
                    <tr>
                        <td>Adresse 2</td>
                        <td class="mdl-data-table__cell--non-numeric">{{street2}}, {{zip2}} {{city2}}</td>
                    </tr>
                    <tr>
                        <td>Transportører</td>
                        <td class="mdl-data-table__cell--non-numeric">{{transporters}}</td>
                    </tr>
                </table>
                {{#each documentStatus}}
                  {{formatDateTime timeStamp}} - {{status}}<br/>
                {{/each}}
            </td>
        </tr>
        </tbody>
    </table>
    <div class="spacer"></div>
    {{/each}}
</div>