<div class="mdl-grid {{showMe logs}}">
    <table class="mdl-data-table mdl-js-data-table mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-shadow--2dp">
        <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Logg</th>
            <th class="mdl-data-table__cell--non-numeric">Søker</th>
            <th class="mdl-data-table__cell--non-numeric">Skole</th>
            <th class="mdl-data-table__cell--non-numeric">Status</th>
            <th class="mdl-data-table__cell--non-numeric">Dato</th>
        </tr>
        </thead>
        <tbody>
        {{#each logs}}
        <tr>
            <td class="mdl-data-table__cell--non-numeric">
                <a href="/logs?applicantId={{applicantId}}" title="Vis alle logger for {{name}}" class="mdl-color-text--black">
                    <span class="material-icons">list</span>
                </a>
            </td>
            <td class="mdl-data-table__cell--non-numeric">{{name}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{school}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{latestDocumentStatus documentStatus}}</td>
            <td class="mdl-data-table__cell--non-numeric"><a href="/logs?documentId={{logId}}" title="Vis detaljert logg">{{latestDocumentStatusTimestamp documentStatus}}</a></td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</div>