<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col"></div>
    <div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-shadow--2dp">
        <div class="mdl-card__title mdl-color-text--black">
            <h1 class="mdl-card__title-text">Ingen adgang</h1>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--black">
            <div>Det ser ikke ut til at du har tilgang til skoleskyss-admin.</div>
            <div>Dersom du mener dette er feil så ta kontakt med systemansvarlig.</div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--3-col"></div>
</div>