<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col"></div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-typography--text-center mdl-typography--headline">
        <h1>Hent excel-fil</h1>
        <form action="/reports" method="post">
            <div class="mdl-textfield mdl-js-textfield mdl-typography--text-center">
                <input class="mdl-textfield__input" type="text" id="fromDate" name="fromDate" value="{{today}}" required="required">
                <label class="mdl-textfield__label" for="fromDate">Fra og med dato</label>
                <input class="mdl-textfield__input" type="text" id="toDate" name="toDate" value="{{today}}" required="required">
                <label class="mdl-textfield__label" for="toDate">Til og med dato</label>
            </div>
            <button type="submit" id="ReportFormSubmit" title="Generer rapport" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-color-text--black">
                <i class="material-icons">view_list</i>
            </button>
        </form>
    </div>
    <div class="mdl-cell mdl-cell--3-col"></div>
</div>
